@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka One", cursive;
}

body {
  font-family: sans-serif, Arial, Helvetica;
  background-color: rgb(27, 117, 62);
  background-image: linear-gradient(
    to right,
    rgba(24, 51, 3, 0.781),
    rgba(233, 236, 48, 0.698)
  );
  overscroll-behavior: contain;
  height: 100vh;
}

#container {
  margin-top: 0.5rem;
}

#header {
  background: rgba(233, 236, 48, 0.698);
  width: 55%;
  margin: auto;
  border-radius: 20px;
  border: 5px solid black;
  padding: 0.5em;
}

h2 {
  word-break: break-all;
  text-align: center;
  font-size: 3em;
  color: rgb(2, 7, 77);
  text-shadow: 3px 2px rgb(245, 243, 220);
  padding-bottom: 0.2em;
}

h3 {
  font-size: 1.2em;
  text-shadow: 1px 2px rgb(245, 243, 220);
  font-weight: 100;
  word-break: break-all;
}

#score {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.computer-score {
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding-left: 5px;
}

#game-section {
  background-image: url(images/image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 790px;
  width: 55%;
  margin: 3px auto auto auto;
  border-radius: 20px;
  border: 5px solid black;
  position: relative;
}

#myBtn {
  height: 140px;
  width: 100px;
  border: none;
  background-image: url(images/bananica.png);
  position: absolute;
}

@media (max-width: 800px) {
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1em;
  }
  #score div {
    flex-direction: column;
  }
  #game-section {
    width: 100vw;
    height: 80vh;
  }
  #header {
    width: 100vw;
    height: 20vh;
  }
  #myBtn {
    width: 3em;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
